$purple: #a259ff;
$blue: #377df7;
$red: #ff7262;
$bg-primary: #2b2b2b;
$bg-secondary: #3b3b3b;
$text: #ffffff;
$caption: #858584;

$gradient1: linear-gradient(to right, $purple, $red);
$gradient2: linear-gradient(to right, $purple, $blue);
